{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Dairy Products | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'app/images/banner/' %}" width="70" height="70" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Milk</a></li>
                    <li><a class="dropdown-item" href="#">Curd</a></li>
                    <li><a class="dropdown-item" href="#">Milkshake</a></li>
                    <li><a class="dropdown-item" href="#">Lassi</a></li>
                    <li><a class="dropdown-item" href="#">Ghee</a></li>
                    <li><a class="dropdown-item" href="#">Paneer</a></li>
                    <li><a class="dropdown-item" href="#">Cheese</a></li>
                    <li><a class="dropdown-item" href="#">Ice-creams</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
              </form>
                <uL class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-link">
                        <a href="" class="dropdown-item">Profile</a>
                    </li>
                    <li class="nav-link">
                        <a href="" class="dropdown-item">Orders</a>
                    </li>
                    <li class="nav-link">
                        <a href="" class="dropdown-item">Change Password</a>
                    </li>
                    <li class="nav-link">
                        <a href="" class="dropdown-item">Logout</a>
                    </li>
                    <li class="nav-link">
                        <a href="" class="dropdown-item">Registration</a>
                    </li>
                </uL>
            </div>
        </div>
    </nav>

    {% block banner %} {% endblock %}
    {% block content %} {% endblock %}

    <footer class="container-fluid fixed-bottom bg-success text-center p-2 mt-5">
        CopyRight : 2023 || ITDevSuccess
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" defer></script>
</body>
</html>