{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Confirmation{% endblock %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Confirmation</h3>
            <form method="post" class="shadow p-5" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3" role="alert">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% for fm in form %}
                    {{ fm.label_tag }} {{ fm }}
                    <small class="text-danger">{{ fm.errors | striptags }}</small>
                    <br>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary mt-2">
            </form>
        </div>
    </div>
</div>
{% endblock %}